<mat-dialog-content class="mat-typography">
<div style="padding: 24px;">
  <p class="consent" style="font-size: .7rem"><strong>We value your privacy</strong></p>
<p style="font-size: .7rem">
    We don't use cookies and other tracking technologies to improve your experience on our website.<br>
    We may don't store and/or access information on a device and process personal data, such as your IP address and browsing data, for personalised advertising and content, advertising and content measurement, audience research and services development.<br>
    Additionally, we don't may utilize precise geolocation data and identification through device scanning.<br>
    Please note that your consent will be valid across all our subdomains. Once you give consent, a floating button will appear at the bottom of your screen, allowing you to change or withdraw your consent at any time. We respect your choices and are committed to providing you with a transparent and secure browsing experience.<br></p>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Consent</button>
</mat-dialog-actions>
